<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <div>
                <ul>
                  <li *ngFor="let m of about2 | split">{{m}}</li>
                </ul>
              </div>
                <p>{{about1}}</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">NAME OF THE ORGANISATION:</strong>
                </div>
                <div class="col-sm-8">SREEJA CONSTRUCTIONS PRIVATE LIMITED </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">CORPORATE ADDRESS:</strong>
                </div>
                <div class="col-sm-8">179A, 4TH ROAD, RTC COLONY, PATAMATA,
                  VIJAYAWADA -520008. KRISHNA DIST., A.P.</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">CONTACT NO:</strong>
                </div>
                <div class="col-sm-8">0866-4000120, 9940620234, 8667229832</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">E-MAIL ID:</strong>
                </div>
                <div class="col-sm-8">Office.sreeja@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">BRANCH OFFICE & ADDRESS:</strong>
                </div>
                <div class="col-sm-8">FLAT NO S2, D.NO.2,ROYAL ENCLAVE,13TH STREET,
                  ANJUGAM NAGAR, KOLATHUR,CHENNAI- 600099.
                   MOBILE NO. 8667229832 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>